.navigate{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.logo{
    display:flex;
    flex-direction: row;
    color: wheat;
}
.logo img{
    width: auto;
    height: 3rem
}
.llinks{
    display: flex;
    flex-direction: row;
}

.llinks li{
    list-style: none;
    padding: 1rem;
    margin: 0 0.5rem;
    border-radius: 0.8rem;
    /* background-color: green; */
    font: 1.5rem solid white;
    font-weight: bolder;
    color: white;
    border: 0.2rem solid wheat;

}
.llinks li:hover{
    blackground-color: transparent;
    cursor: pointer;
    color: wheat;
}
.intro{
    margin-top: 5rem;
    /* background-color: red; */
    text-align: center;
    color: white;
    font: 1.5rem solid bold;
}

.lheading{
    width: 100%;
    height: 35rem;
    background-image: url('../images/banner.png');
    background-size: cover;
    background-color: black;
    
}

.body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 0rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 1rem 0;
}

.body div{
    width: 90%;
    height: 30rem;
    background-color: lightgray; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;

}

.body div img{
    width: 70%;
    height: 80%;
}

.labout{
    background-color:lightblue;
    /* margin-top: 100rem; */
    margin:0 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
    align-items: center;

}

.labout .text{
    /* margin:0 0 5rem 0; */
    background-color:green ;
    width:60%;
}
