/* #landing-page-container {
    margin: 0, 5%;
} */

.navigate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    /* position: fixed; */
}
.navigate

.logo {
    margin: 30px 0.5rem;
    display: flex;
    flex-direction: row;
    color: wheat;
}
.logo img {
    width: auto;
    height: 3rem;
}
.logo h1{
    font-size: 25px;
}
.llinks {
    display: flex;
    flex-direction: row;
    columns: white;
}

.llinks li {
    list-style: none;
    /* width: 150px; */
    margin: 30px 0.5rem;
    padding:10px 10px;
    border-radius: 20px;
    font: 1.5rem solid white;
    font-weight: bolder;
    color: white;
}
.reservations{
    background-color:red;
}
.llinks li:hover{
    border: 0.2rem solid wheat;
}
.llinks li a {
    color: white;
    text-decoration: none;
}
.llinks li:hover {
    background-color: transparent;
    cursor: pointer;
    color: wheat;
}
.intro {
    margin-top: 5rem;
    background-color: #00000078;
    text-align: center;
    color: wheat;
    font: 1.5rem solid bold;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.intro-text {
    opacity: 1;
    width: 80%;
}
.intro-text h1 {
    text-align: center;
    /* font-size: 1.9rem; */
}

.lheading {
    width: 100%;
    height: 40rem;
    /* background-image: url("../images/lunch.jpg"); */
    background-image:url("https://static.wixstatic.com/media/f925d3_c8bdf28314df416aa4d1e7e6b5265415~mv2.jpg/v1/fill/w_980,h_662,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/f925d3_c8bdf28314df416aa4d1e7e6b5265415~mv2.jpg");
    background-size: cover;
    background-color: black;
}
.category{
    margin-top: 20px;
    background-image: url('../images/bugger.jpg');
    background-size: cover;
    /* background-color: whitesmoke; */
}
.category h1{
    color: white;
    /* background-color: red; */
}
.category a{
    text-decoration:none;
    color:whitesmoke;
}
.services{
    width:100%;
    height:600px;
    position:relative;
    background-color: black;
    
}
.services p{
    position: absolute;
    color:whitesmoke;
    font:80px bolder ;
    left:30%;
    bottom: 40%;
    z-index:10;
}
.services .image{
    background-image: url(../images/bowls-of-food.jpg);
    width:400px;
    height:450px;
    background-color: whitesmoke;
    position: absolute;
    right: 20%;
    top: 10%;
}
.services .buttons{
    position: absolute;
    bottom: 20%;
    left:30%;
    font-size: 30px;
}
.dine-in{
    width: 220px;
    height: 75px;
    border-radius:40px;
    margin:20px 20px;
}
.delivery{
    width: 220px;
    height: 75px;
    border-radius:40px;
    margin:20px 40px;
    background-color: black;
    color:white;

}
.body {
    height: 300px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem 0rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 1rem 0;
}
.body div {
    /* width: 150px; */
    /* height: 150px; */
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: 1rem; */
    border-radius: 50%;
    margin: 2%;
}
.body div img{
    border-radius: 50%;
}
.body div p {
    margin: 3%;
}

.body div img {
    width: 70%;
    height: 80%;
}

.labout {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.text1 {
    margin: 2rem;
}

.about .text{
    margin:0 0 20rem 0;
    background-color:green ;
    width:60%;
}
.about video{
    width: 30%;
    height:auto;
}